
main{
	min-height: 74vh;

.wrapper{
	display: flex;
}
.react-datepicker__input-container > input:nth-child(1){
	min-width: 200px;
}

.half{
	width: 50%;
	border: 3px solid $accentOne;
	padding: 1rem;
	border-radius: 3px;
}

.half:first-of-type{
	margin-right: 10px;
}

.nextButton{
	margin-top: 1.5rem;
}

}





