
main{
	min-height: 74vh;

	.wrapper{
		display: flex;
	}

	h3 {
		font-size: 2.2rem;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	.react-datepicker__input-container > input:nth-child(1){
		min-width: 200px;
	}

	.half{
		width: 40vw;
		min-width: 300px;
	}

	.nextButton {
		margin-top: 0.2rem;
	}
	
	.paycheckInfo {
		margin-top: 3rem;
	}

	.dailyInfo {
		padding: 5px 0px;
	}

	.inputForm input{
		min-width: 260px;
	}

	.paymentSubmit{
		max-width: 280px;
		margin: 0 auto;
	}

}





