// Styling for main section overall and some income section 

main{
	min-height: 75vh;

	.wrapper{
		display: flex;
	}

	h3 {
		font-size: 2.2rem;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	.react-datepicker__input-container > input:nth-child(1){
		min-width: 200px;
	}

	.half{
		width: 40vw;
		min-width: 300px;
	}

	.nextButton {
		margin-top: 0.2rem;
	}

}





