@media(max-width: 950px){
  .wrapper{
    width: 85vw;
  }
}

@media(max-width: 800px){
  .wrapper{
    width: 85vw;
  }

  main .wrapper{
    flex-wrap: wrap;
  }

  main .half{
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }

  main .half:last-of-type{
  margin-top: 4rem;
  margin-bottom: 5rem;
  }

  .nextButton{
    margin: 0 auto;
  }

  .expenseInfo{
    justify-content: center;
    flex-wrap: wrap;
  }

  .addExpense{
    margin-top: 40px;
  }
  .transactions{
    justify-content: center;
  }

  .budget { 
    margin: 0 auto;
  }
}


@media(max-width: 400px){
  .wrapper{
    width: 90vw;
  }

  header h1{
    font-size: 3.2rem;
  }

  .dailyInfo{
    font-size: 1.8rem;
  }

  .dailyInfo span{
    font-size: 2rem;
  }
}