// Variables 

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Muli:wght@300&display=swap');

$mainColor: #7fd0bb;
$lightColor: #E5E1E1;
$darkColor: #000;
$accentOne: #4F1DBE;

$headingFont: 'Merriweather', serif;
$bodyFont: 'Muli', sans-serif;

